/***************************
 *                                 copyright
 **************************/
#copyright{ text-align: center; }
#copyright h2{ border: none; color: #999999; }
#copyright div{ font-size: 10px; color: #aaaaaa; }